body,
html {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./front-end-art-01.png);
  background-position: cover;
}

.home h1 {
  color: rgb(182, 13, 27);
  background-color: rgba(214, 255, 127, 0.5);
  font-size: 2.5rem;
  font-family: cursive;
}

.home .link {
  text-decoration: none;
  color: white;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shuttles {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  height: 500px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid greenyellow;
  list-style: none;
}

.shuttleItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 200px;
  border: 2px dotted orangered;
  margin: 5px;
  text-align: center;
}

.detail {
}
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  color: white;
}
